@import url('https://fonts.googleapis.com/css2?family=Solway:wght@300;400;500&display=swap');

body{
  background-color: #F4F5F9;
  font-family: 'Solway', serif;
  margin: 0;
  padding: 0;
}

.container {
  margin: 30px 50px;
  color:  #636363;
}